.aside-block {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  @media (min-width: $screen-md) {
    display: block;
    background-repeat: no-repeat;
    background-position: left -90px bottom;
    background-size: 632px 516px;
  }

  @media (min-width: $screen-xl) {
    background-position: left bottom;
    background-size: 702px 573px;
  }

  @media (min-width: $screen-xxl) {
    background-size: 976px 797px;
  }

  $block-name:                &; // #{$block-name}__element

  .row {
    height: 100vh;
  }

  .service-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .btn__icon--burger,
  .btn__icon--search {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .lang-switcher {
    margin-right: 0;
  }

  .messengers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .messengers__item {
    margin-left: 0 !important;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__menu-col {
    @include col(md, 14);
    @include col(lg, 15);

    .row {
      padding-top: 32px;
      padding-bottom: 32px;
      pointer-events: auto;
    }
  }

  &__panel-col {
    @include col(md, 2);
    @include col(lg, 1);
    height: 100vh;
    //background-color: $white;

    @media (min-width: $screen-lg) {
      background-color: $white;
    }

    @media (min-width: $screen-xxl) {
      background-color: transparent;
    }
  }

  &__logo-col {
    @include col(md, 6);
    @include col(xl, 8);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text-col {
    @include col(md, 10)
    @include col(xl, 8);
  }

  &__logo {
    display: inline-block;
    vertical-align: top;

    img {
      display: block;
      width: 148px;
      height: 40px;

      @media (min-width: $screen-xl) {
        width: 298px;
        height: 81px;
      }
    }
  }

  &__copyrights {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    li {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
    }
  }

  &__nav {
    padding-top: 60px;

    @media (min-width: $screen-xl) {
      padding-top: 80px;
    }
  }

  &__nav-list {

  }

  &__nav-item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;

      @media (min-width: $screen-xl) {
        margin-top: 20px;
      }
    }

    &.active {
      //padding-left: 24px;
      color: $main-color;

      #{$block-name}__nav-link {
        pointer-events: none;
      }
    }
  }

  &__nav-link {
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    color: inherit;

    @media (min-width: $screen-xl) {
      font-size: 32px;
    }
  }

  &__service {
    display: flex;
    flex-wrap: wrap;
  }

  &__service-item {
    margin-right: 24px;

    @media (min-width: $screen-xl) {
      margin-right: 32px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      //padding-left: 24px;
      color: $main-color;

      #{$block-name}__service-link {
        pointer-events: none;
      }
    }
  }

  &__service-link {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;

    @media (min-width: $screen-xl) {
      font-size: 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 27px 0;
    transform: translateX(5px);
    background-color: $white;
    pointer-events: auto;
    overflow: auto;

    .line {
      align-self: flex-end;
      width: 2px;
      height: 8.35%;
      margin: 20px 0;
      transform: translateX(-15px);
      background-color: $secondary-color;
    }
  }
}
