.aside-block {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;

  @media (min-width: $screen-md) {
    display: block;
  }

  $block-name:                &; // #{$block-name}__element

  .row {
    height: 100vh;
  }

  .service-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .btn__icon--burger,
  .btn__icon--search {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .lang-switcher {
    margin-right: 0;
  }

  .messengers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .messengers__item {
    margin-left: 0 !important;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__menu-col {
    @include col(md, 14);
    @include col(lg, 15);

    .row {
      padding-top: 32px;
      padding-bottom: 32px;
      background-color: $white;
      pointer-events: auto;
    }
  }

  &__panel-col {
    //@include col-offset(md, 14);
    @include col(md, 2);
    @include col(lg, 1);
    height: 100vh;
    background-color: $white;
  }

  &__logo-col {
    @include col(md, 6);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text-col {
    @include col(md, 10)
  }

  &__logo {
    display: inline-block;
    vertical-align: top;

    img {
      display: block;
      width: 148px;
      height: 40px;

      @media (min-width: $screen-xl) {
        width: 298px;
        height: 81px;
      }
    }
  }

  &__nav {
    padding-top: 60px;

    @media (min-width: $screen-xl) {
      padding-top: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 27px 0;
    pointer-events: auto;
    overflow: auto;

    .line {
      align-self: flex-end;
      width: 2px;
      height: 8.35%;
      margin: 20px 0;
      transform: translateX(-15px);
      background-color: $secondary-color;
    }
  }
}
