
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-width: 320px;
  min-height: 100%;

  //font-size: 15px;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    //position: relative;
  }

  &__content {
    flex-grow: 1;
    position: relative;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  background-color: #fff;
  margin: 0;
  min-height: 100%;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

// Мы любим Edge, это браузер! (почти)
svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none;
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.2s;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // На больших экранах телефоны-ссылки делаем обычным текстом (если надо)
  &[href^="tel:"] {

    /* @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    } */
  }
}

// BS4 Хелперы для BS4 табов и т.п.
.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

.collapse {
  transition: all 0.3s ease-out;
}

.collapse:not(.show) {
  display: none;
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.list-nostyled {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  li::before {
    display: none;
  }
}

/* Кастомизируем выделение текста на сайте */
*:not(img)::selection {
  color: $white;
  background-color: $main-color; /* Safari, Chrome, Opera */
}

*:not(img)::-moz-selection {
  color: $white;
  background-color: $main-color; /* FireFox */
}

.container {
  display: block;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  background: none;

  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $screen-xxl) {
    $padding-min: 60px; // нужный отступ от краев экрана
    $half-screen-xxl: $screen-xxl / 2 - $padding-min;
    // padding: 1em calc(50% - 600px); //600px - это $screen-xl / 2 - нужный отступ от края экрана
    padding-left: calc(50% - #{$half-screen-xxl});
    padding-right: calc(50% - #{$half-screen-xxl});
  }

  &--hidden-right {

    @media (min-width: $screen-md) {
      background: linear-gradient(to left, #fff, #fff 40px, rgba(255, 255, 255, 0) 40px, rgba(255, 255, 255, 0));
    }

    @media (min-width: $screen-xxl) {
      $padding-min: 60px; // нужный отступ от краев экрана
      $half-screen-xxl: $screen-xxl / 2 - $padding-min;
      // padding: 1em calc(50% - 600px); //600px - это $screen-xl / 2 - нужный отступ от края экрана
      $right-start: calc(50% - #{$half-screen-xxl});
      background: linear-gradient(to left, #fff, #fff $right-start, rgba(255, 255, 255, 0) $right-start, rgba(255, 255, 255, 0));
    }
  }
}

// Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
// @include row($grid-gutter-width, 10px, 12px, 16px, 20px, 26px);
.row {
  @include row(
    $xs-grid-gutter:  $grid-gutter-width,
    $sm-grid-gutter:  $grid-gutter-width,
    $md-grid-gutter:  $grid-gutter-width,
    $lg-grid-gutter:  $grid-gutter-width,
    $xl-grid-gutter:  $grid-gutter-width,
    $xxl-grid-gutter: $grid-gutter-width
  );
}

.main {

  @media (min-width: $screen-md) {
    padding-top: 70px;
  }
}

.divider {
  display: block;
  padding: 42px 0;
  text-align: center;
  line-height: 0;

  @media (min-width: $screen-md) {
    padding: 64px 0;
  }

  span,
  &::before,
  &::after {
    display: inline-block;
    vertical-align: top;
    width: 4px;
    height: 4px;
    margin: 0 32px;
    background-color: $main-color;
    border-radius: 50%;
  }

  &::before,
  &::after {
    content: "";
    margin: 0;
  }
}

.colored {
  color: $main-color;

  &--new-line-add {
    display: block;
  }
}

.gray-bg {
  background-color: $block-bg;
}

.striped-gray {
  background-image: linear-gradient(to right, $inactive-color, $inactive-color 1px, transparent 1px, transparent 15%, $inactive-color 15%, $inactive-color calc(15% + 1px), transparent calc(15% + 1px), transparent 50%, $inactive-color 50%, $inactive-color calc(50% + 1px), transparent calc(50% + 1px), transparent 85%, $inactive-color 85%, $inactive-color calc(85% + 1px), transparent calc(85% + 1px) );
  border-right: 1px solid $inactive-color;

  @media (min-width: $screen-md) {
    background-image: repeating-linear-gradient(to right, transparent, transparent 6.5%, $inactive-color 6.5%, $inactive-color calc(6.5% + 1px), transparent calc(6.5% + 1px), transparent 43.5%, $inactive-color 43.5%, $inactive-color calc(43.5% + 1px), transparent calc(43.5% + 1px), transparent 50% );
    border-left: 1px solid $inactive-color;
    border-right: none;
  }

  @media (min-width: $screen-xl) {
    background-image: repeating-linear-gradient(to right, transparent, transparent 12%, $inactive-color 12%, $inactive-color calc(12% + 1px), transparent calc(12% + 1px), transparent 38%, $inactive-color 38%, $inactive-color calc(38% + 1px), transparent calc(38% + 1px), transparent 50% );
    border-left: 1px solid $inactive-color;
    border-right: none;
  }
}

.text-block-content {
  padding: 42px 0;

  @media (min-width: $screen-md) {
    padding: 64px 0;
  }

  img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 2em 0;
  }

  &--nopadding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.content-col {
  @include col(xs, 16);
  @include col(md, 14);
  @include col(lg, 15);
}

.text-block-col {
  @include col(xs, 16);
  @include col-offset(md, 1);
  @include col(md, 12);
  @include col-offset(xl, 2);
  @include col(xl, 11);
  @include col-offset(xxl, 3);
  @include col(xxl, 9);
}

.publishedon {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: $secondary-color;
}


/* &__element {
  @include col(); // малые ширины — 12 из 12, промежутки по умолчанию
  @include col(sm, 6, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
  @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
  @include col(lg, 3, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
  @include col(xl, 2, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
  @include col(xxl, 1, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
} */


// background: svg-load('../blocks/phones-modal/bg-img/phone.svg', fill=$main-color, stroke=rgba(255, 255, 255, 0));

.slider-controls {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 32px;
  padding: 0 12px;
  background-color: $white;

  @media (min-width: $screen-xl) {
    height: 42px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  width: 42px;
  height: 32px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 10px;
  user-select: none;

  @media (min-width: $screen-xl) {
    height: 42px;
  }

  &::after {
    display: none;
  }
}

.swiper-button-prev {
  transform: scale(-1, 1);
  background-image: svg-load('../blocks/sprite-svg/svg/right-arrow-icon.svg', fill=$secondary-color);

  &:hover,
  &:focus {
    background-image: svg-load('../blocks/sprite-svg/svg/right-arrow-icon.svg', fill=$main-color);
  }
}

.swiper-button-next {
  margin-left: 12px;
  background-image: svg-load('../blocks/sprite-svg/svg/right-arrow-icon.svg', fill=$secondary-color);

  &:hover,
  &:focus {
    background-image: svg-load('../blocks/sprite-svg/svg/right-arrow-icon.svg', fill=$main-color);
  }

  @media (min-width: $screen-md) {
    margin-left: 24px;
  }
}

.project-map {

  &__container {
    width: 100%;
    height: 420px;
    margin-top: 24px;

    @media (min-width: $screen-md) {
      height: 440px;
      margin-top: 32px;
    }

    @media (min-width: $screen-xl) {
      height: 545px;
      margin-top: 42px;
    }

    @media (min-width: $screen-xxl) {
      height: 630px;
    }
  }
}
