.hero {
  width: 100%;
  min-height: 150px;
  background-color: $white;
  overflow: hidden;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(..img/hero-bg.jpg); */

  @media (min-width: $screen-xxl) {
    max-height: 960px;
  }

  $block-name:                &; // #{$block-name}__element

  img {
    display: block;
    width: 100%;
  }

}
